<ul class="social-media-list">
    <li><a href="https://github.com/{{ site.github.repository_nwo }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">{{ site.github.repository_name }}</span></a> {{ site.github.build_revision | truncate: 7, '' }}</li>
    <li><a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg> <span>RSS</span></a></li>
  </ul>